{% extends "layout.html" %}

{% block pageTitle %}
  Enter title numbers you want to search
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Search for a title number
      </h1>
      <div>
        <form class="form" action="confirm-address-by-title-number-2" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-visually-hidden" for="titleNumber2">Search for a title number</label>
            
            <input class="govuk-input govuk-input--width-10" id="titleNumber2" name="titleNumber-2" type="text">
            <input class="govuk-button" name="titleNumber2" type="submit" value="Search">
          </div>
          
          
        </form>
      </div>

      
    </div>

  </div>
{% endblock %}
