{% extends "layout.html" %}

{% block pageTitle %}
  Contact information
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Contact details
      </h1>
      <p class="govuk-body">Below are the contact details for the property you searched for, Review and edit where necessary.</p>

      <h2 class="govuk-heading-s">
          Contact 1
      </h2>
      <div class="govuk-custom-contact-display-body">
        <div>
          <p class="govuk-!-font-size-24">{{ data['address-selector'] }}</p>
          <p class="govuk-custom-contact-display-change-link"><a href="#">Change</a></p>
        </div>
        <hr>
        <div>
          <p class="govuk-!-font-size-24">{{ data['added-item'] }}</p>
          <p class="govuk-custom-contact-display-change-link"><a href="#">Change</a></p>
        </div>
      </div>
      <p><a href="add-new-contact" class="govuk-button govuk-!-margin-top-4">Add new contact</a></p>
      
      <p class="govuk-body"><a href="start">I don't want to change anything</a></p>
      <p class="govuk-body"><a href="start">Find another property</a></p>

    </div>

  </div>
{% endblock %}
