/* Hidden element */
.hidden {
    display: none;
}

/* Inline link */
.govuk-custom-inline-link {
    margin-left: 0.5em;
}

/* definition lists */
.govuk-custom-definition-list {
    & dt {
        font-weight: bold;
    }
    & dd {
        -webkit-margin-start: 0;
        -moz-margin-start: 0;
        -ms-margin-start: 0;
        margin-start: 0;
        margin-bottom: 1em;
    }
}

/* Contact details display */
.govuk-custom-contact-display-body img {
    margin-right: 0.5em;
    vertical-align: bottom;
}
.govuk-custom-contact-display-body div {
    display: flex;
    justify-content: space-between;
    /*padding-top: 1em;*/
    border-bottom: 1px solid #bfc1c3;

    &.govuk-custom-changed-or-added {
        padding: 1em 0 0 0;
    }

    & + p {
        padding-top: 1em;
    }
}

.govuk-custom-contact-display-item__added {
    padding-top: 2em;
}

/* Verify mockup */
.govuk-custom-verify-box {
    background-color: #005EA5;
    width: calc(100% - 6em);
    height: auto;
    padding: 3em;
    display: flex;
    justify-content: space-between;

    & .govuk-custom-verify-blurb {
        width: 65%;
        
        & p,
        & ul,
        & summary {
            color: white;
            font-size: 24px;
            line-height: 30px;
        }

        & summary:active {
            background-color: none;
        }

        & input,
        & label,
        & legend {
            color: white;
        }
    }
}

.govuk-verify-button,
#verify-button {
    background-color: white;
    color: #005EA5 !important;
    font-weight: bold;

    &:hover {
        background-color: white;
    }
}

.govuk-custom-verify-choice-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .govuk-custom-verify-choice-box {
        width: 30%;
        border: 3px solid #bfc1c3;
        text-align: center;
        margin-bottom: 2em;

        & div {
            height: 4em !important;
        }

        & img {
            margin: 1em;
            max-height: 2.7em;
            width: auto;

        }
    }
}

.govuk-custom-verification-companies__block {

    & img {
        margin: 1em;
        max-height: 75px;
        max-width: 135px;
    }
}

.govuk-custom-verification-companies__block-item {
    display: flex;
    align-content: center;
    border-bottom: 1px solid #bfc1c3;

    & div:first-child {
        text-align: center;
        margin-top: 1em;
        width: 250px;
    }

    & div:last-child {
        align-self: center;
    }

    & a.govuk-button {
        width: 220px;
    }
}

.barclays-container {
    color: red;
}