{% extends "layout.html" %}

{% block pageTitle %}
  Confirm address
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check and confirm
      </h1>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
            Address
            </dt>
            <dd class="app-check-your-answers__answer">
                {{ data['added-item'] }}
            </dd>
            <dd class="app-check-your-answers__change">
                <a href="address-change">
                    Change<span class="govuk-visually-hidden"> address</span>
                </a>
            </dd>
        </div>
       </dl>
      <a href="confirmation_added" type="submit" class="govuk-button">Confirm</a>
    </div>

  </div>
{% endblock %}
