{% extends "layout.html" %}

{% block pageTitle %}
  Check your contact details
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Check your contact details
      </h1>
      <p>Check and confirm your contact details with HM Land Registry. You can also add:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>another postal address</li>
        <li>email</li>
        <li>telephone number</li>
      </ul>
      <table class="govuk-table">
          <caption class="govuk-table__caption"></caption>
          <thead class="govuk-table__head"  style="vertical-align:top">
              <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">
                    Address you own<!--<br>
                    <span class="govuk-!-font-weight-regular govuk-!-font-size-16">This is the property you own</span> -->
                  </th>
                  <th class="govuk-table__header" scope="col">
                    Contact details<!--<br>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-regular">This is on the open register</span>
                    <span class="govuk-!-font-size-14"><a href="open-register">What is this?</a></span> -->
                  </th>
                  <th class="govuk-table__header" scope="col">
                    
                  </th>
              </tr>
          </thead>
          <tbody class="govuk-table__body"  style="vertical-align:top">
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                      {% if (data['address-selector'] !== undefined) %}
                        {{ data['address-selector'] }}
                      {% elif (data['titleNumber'] !== undefined) %}
                        1 Clinton Streer, Exeter EX4 1AX
                      {% else %}
                        {% if (data['address-line-1']) %}
                          {{ data['address-line-1'] }},
                        {% endif %}
                        {% if (data['address-line-2']) %}
                          {{ data['address-line-2'] }},
                        {% endif %}
                        {% if (data['address-town']) %}
                          {{ data['address-town'] }},
                        {% endif %}
                        {% if (data['address-county']) %}
                          {{ data['address-county'] }},
                        {% endif %}
                        {% if (data['address-postcode']) %}
                          {{ data['address-postcode'] }},
                        {% endif %}
                      {% endif %}
                  </td>
                  <td class="govuk-table__cell">1 Clinton Street, Exeter EX4 1AX</td>
                  <td class="govuk-table__cell"><a href="update-contact" class="govuk-button govuk-!-margin-bottom-1 govuk-custom-update-first-property-button">Update</a></td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                      {% if (data['address-selector-2'] !== undefined) %}
                        {{ data['address-selector-2'] }}
                      {% elif (data['titleNumber-2'] !== undefined) %}
                        3 Clinton Streer, Exeter EX4 1AX
                      {% else %}
                        {% if (data['address-line-1-2']) %}
                          {{ data['address-line-1-2'] }},
                        {% endif %}
                        {% if (data['address-line-2-2']) %}
                          {{ data['address-line-2-2'] }},
                        {% endif %}
                        {% if (data['address-town-2']) %}
                          {{ data['address-town-2'] }},
                        {% endif %}
                        {% if (data['address-county-2']) %}
                          {{ data['address-county-2'] }},
                        {% endif %}
                        {% if (data['address-postcode-2']) %}
                          {{ data['address-postcode-2'] }},
                        {% endif %}
                      {% endif %}
                  </td>
                  <td class="govuk-table__cell">1 Clinton Street, Exeter EX4 1AX<br>email@email.com</td>
                  <td class="govuk-table__cell"><a href="update-contact-2" class="govuk-button govuk-!-margin-bottom-1 govuk-custom-update-second-property-button">Update</a></td>
              </tr>
          </tbody>
      </table>
      <!-- <p><a href="#">Update all</a></p> -->



      
      
      <h2 class="govuk-heading-m">
        No changes required?
      </h2>
      <p><a href="address-lookup">Find another property</a> or <a href="https://gov.uk">exit the service</a> (your contact details will not change).</p>

    </div>

  </div>
{% endblock %}
