{% extends "layout.html" %}

{% block pageTitle %}
  Address lookup
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Address lookup
      </h1>

      <p>Some sort of address lookup functionality will be added here (e.g. postcode lookup)</p>

      <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8" href="verification" role="button">Continue</a>

    </div>

  </div>
{% endblock %}
