{% extends "layout.html" %}

{% block pageTitle %}
  Address lookup
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Change address
      </h1>
      <div class="govuk-custom-element-to-hide">
        <form class="form" action="#" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold govuk-!-font-size-24" for="postcode">Postcode</label>
            
            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">
          </div>
          <input class="govuk-button" type="submit" value="Find address">
          
        </form>
      </div>

      <div class="govuk-custom-element-to-hide">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I live outside the UK
            </span>
          </summary>
          <div class="govuk-details__text">
            This is where the help text for those living outside UK sits.
          </div>
        </details>
      </div>
      <div class="govuk-custom-element-to-display hidden">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Postcode</h2>
        <p class="govuk-body"><span class="govuk-custom-data-to-display"></span><a href="#" class="govuk-custom-inline-link govuk-custom-revert-state">Change</a></p>
        <form class="form" action="confirm-address-change" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold govuk-!-font-size-24" for="address-change-selector">Select an address</label>
            <select class="govuk-select" id="address-change-selector" name="address-change-selector">
              <option value="1 Clinton Street, Exeter EX4 1AX">1 Clinton Street, Exeter EX4 1AX</option>
              <option value="2 Clinton Street, Exeter EX4 1AX">2 Clinton Street, Exeter EX4 1AX</option>
              <option value="3 Clinton Street, Exeter EX4 1AX">3 Clinton Street, Exeter EX4 1AX</option>
              <option value="4 Clinton Street, Exeter EX4 1AX">4 Clinton Street, Exeter EX4 1AX</option>
              <option value="5 Clinton Street, Exeter EX4 1AX">5 Clinton Street, Exeter EX4 1AX</option>
              <option value="6 Clinton Street, Exeter EX4 1AX">6 Clinton Street, Exeter EX4 1AX</option>
              <option value="7 Clinton Street, Exeter EX4 1AX">7 Clinton Street, Exeter EX4 1AX</option>
              <option value="8 Clinton Street, Exeter EX4 1AX">8 Clinton Street, Exeter EX4 1AX</option>
            </select>
          </div>
          <input class="govuk-button" type="submit" value="Continue">
        </form>
        <p class="govuk-body"><a href="#">I can't find my address in the list</a></p>
      </div>
    </div>

  </div>
{% endblock %}
