{% extends "layout.html" %}

{% block pageTitle %}
  Protect my property start page
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }}{% endif %}: confirm your contact details with HM Land Registry
      </h1>

      <p>HM Land Registry can warn you by text, email or letter if we suspect property fraud on your home.</p>

      <p>Use this service to check and confirm your contact details with HM Land Registry.</p>

      <a class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" href="title-number" role="button">Start now</a>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>HM Land Registry keeps a record of everyone who owns a property (and their land). This record (your title deed) proves that you own your land.</p>

      <p>If you own a house, flat or any other type of property, HM Land Registry has a record of your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>address (you own this property)</li>
        <li>address for correspondence (you live at this property)</li>
      </ul>

      <h2 class="govuk-heading-m">
        About this service
      </h2>

      <p>If there is a problem with your property, for example fraud, HM Land Registry will send a letter to the address you own.</p>

      <p>If you don’t live at this address, you can ask us to send a:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>letter to a different property</li>
        <li>text</li>
        <li>email</li>
      </ul>

      <h2 class="govuk-heading-m">
        How it works
      </h2>

      <p>You will search for the property you own (by postcode). We will show you the contact details we have for this property.</p>
      
      <p>These contact details should be the quickest way to contact you. You can add or change your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>email</li>
        <li>phone number</li>
        <li>correspondence address</li>
      </ul>

      <div class="govuk-inset-text">
          You cannot change your registered title address (property you own).
      </div>

      <p>HM Land Registry recommends that you add an email or phone number. These are the quickest way to contact you if there is a problem with your property.</p>

      <h2 class="govuk-heading-m">
        Identification documents you will need
      </h2>

      <p>Want to check and confirm your contact details on your property record? You will need to prove your identity as the property owner.</p>

      <p>You will need 3 of the following documents to prove your identity as the property owner:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Passport</li>
        <li>Driving license</li>
        <li>National insurance number</li>
      </ul>
    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <p>We can add related content here, for example links to other citizen services.</p>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="visuallyhidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
