{% extends "layout.html" %}

{% block pageTitle %}
  Change email
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          Postcode for your home address
      </h1>
      <p>This is the postcode for the place where you live. We will send letters to this address.</p>
      <p>This can be different to your registered title address (HM Land Registry's recorded address for the property you own)</p>
      <div class="govuk-custom-element-to-hide">
        <form class="form" action="#" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold govuk-!-font-size-24" for="postcode">Postcode</label>
            
            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">
          </div>
          <input class="govuk-button" type="submit" value="Find address">
          
        </form>
      </div>
      <!-- <div class="govuk-custom-element-to-hide">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I live outside the UK
            </span>
          </summary>
          <div class="govuk-details__text">
            This is where the help text for those living outside UK sits.
          </div>
        </details>
      </div> -->
      <div class="govuk-custom-element-to-display hidden">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Postcode</h2>
        <p class="govuk-body"><span class="govuk-custom-data-to-display"></span><a href="#" class="govuk-custom-inline-link govuk-custom-revert-state">Change</a></p>
        <form class="form" action="confirm-change-address" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold govuk-!-font-size-24" for="address-selector">Choose an address</label>
            <select class="govuk-select" id="address-change-selector" name="address-change-selector">
              <option value="50 Durnford Street, Plymouth PL1 3QN">50 Durnford Street, Plymouth PL1 3QN</option>
              <option value="51 Durnford Street, Plymouth PL1 3QN">51 Durnford Street, Plymouth PL1 3QN</option>
              <option value="52 Durnford Street, Plymouth PL1 2QN">52 Durnford Street, Plymouth PL1 3QN</option>
              <option value="53 Durnford Street, Plymouth PL1 3QN">53 Durnford Street, Plymouth PL1 3QN</option>
              <option value="54 Durnford Street, Plymouth PL1 3QN">54 Durnford Street, Plymouth PL1 3QN</option>
              <option value="55 Durnford Street, Plymouth PL1 3QN">55 Durnford Street, Plymouth PL1 3QN</option>
              <option value="56 Durnford Street, Plymouth PL1 3QN">56 Durnford Street, Plymouth PL1 3QN</option>
              <option value="57 Durnford Street, Plymouth PL1 3QN">57 Durnford Street, Plymouth PL1 3QN</option>
            </select>
          </div>
          <input class="govuk-button" type="submit" value="Continue">
        </form>
        <p class="govuk-body"><a href="manual-address-lookup-change">I can't find my address in the list</a></p>
      </div>
      
    </div>

  </div>
{% endblock %}

