{% extends "layout.html" %}

{% block pageTitle %}
  Confirm address by title number
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your property details are
      </h1>
      <h2 class="govuk-heading-m">Property 1</h2>
      <p>
          <span class="govuk-!-font-weight-bold">Title number</span><br>
          <span class="govuk-!-font-size-24">{{ data['titleNumber'] }}</span>
      </p>
      <p>
          <span class="govuk-!-font-weight-bold">Property address</span><br>
          <span class="govuk-!-font-size-24">1 Clinton Street, Exeter EX1 1AX</span>
      </p>
      <h2 class="govuk-heading-m">Property 2</h2>
      <p>
          <span class="govuk-!-font-weight-bold">Title number</span><br>
          <span class="govuk-!-font-size-24">{{ data['titleNumber-2'] }}</span>
      </p>
      <p>
          <span class="govuk-!-font-weight-bold">Property address</span><br>
          <span class="govuk-!-font-size-24">3 Clinton Street, Exeter EX1 1AX</span>
      </p>
      <p>Once you have confirmed your property, we will ask you to prove that you are the owner.</p>
      <p>You will need 3 of the following documents to prove your identity as the property owner:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Passport</li>
        <li>Driving license</li>
        <li>National insurance number</li>
      </ul>
      <a href="verification-sign-in" type="submit" class="govuk-button" id="govuk-custom-single-title-button-2">Confirm and continue</a>
      <h2 class="govuk-heading-m">Want to add another property?</h2>
      <p>You can <a href="title-number-entry">search for another title</a></p>
      <p>or</p>
      <p><a href="address-lookup">Search by address</a></p>
    </div>

  </div>
{% endblock %}
