{% extends "layout.html" %}

{% block pageTitle %}
  Is this address correct?
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <form id="govuk-custom-add-contact-form" class="form" action="update-details-multi-exists" method="get">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Is this the best place to contact you?
                    </h1>
                    <p>{{ data['address-selector'] }}</p>
                </legend>
                <div class="govuk-radios govuk-radios--inline" data-module="radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="correct" name="correctAddress" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for "correct">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="notCorrect" name="correctAddress" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for "notCorrect">
                            No
                        </label>
                    </div>
                    
                </div>
            </fieldset>
        </div>

        <input id="check-address-button" class="govuk-button" type="submit" value="Continue">

      </form>
      
    </div>

  </div>
{% endblock %}

