{% extends "layout.html" %}

{% block pageTitle %}
  What do you want to do?
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <form id="govuk-custom-add-contact-form" class="form" action="update-contact-2-what" method="get">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What do you want to do?
                    </h1>
                </legend>
                <div class="govuk-radios" data-module="radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="change" name="updateContact2" type="radio" value="change">
                        <label class="govuk-label govuk-radios__label" for "change">
                            Change these contact details
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="add" name="updateContact2" type="radio" value="add">
                        <label class="govuk-label govuk-radios__label" for "add">
                            Add new contact details
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="delete" name="updateContact2" type="radio" value="delete">
                        <label class="govuk-label govuk-radios__label" for "delete">
                            Delete a contact detail
                        </label>
                    </div>
                    
                </div>
            </fieldset>
        </div>

        <input id="add-button" class="govuk-button" type="submit" value="Continue">

      </form>
      
    </div>

  </div>
{% endblock %}

