{% extends "layout.html" %}

{% block pageTitle %}
  Update details
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Update your details
      </h1>
    </div>
    
    <div class="govuk-grid-column-full">
      
      <table class="govuk-table govuk-custom-contact-info-table_v1">
          <caption class="govuk-table__caption">
              
              <!-- <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                        What is this?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p>BLURB ABOUT WHAT THIS IS USED FOR</p>
                    </div>
                  </details> -->
            </caption>
          
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Contact details</th>
                  <th class="govuk-table__header" scope="col" colspan="2"></th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell last_row">
                      {{ data['address-selector'] }}<br>
                  </td>
                  <td class="govuk-table__cell last_row" colspan="2">
                    <a href="change-contact">Change</a>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell last_row">
                      email@email.com<br>
                  </td>
                  <td class="govuk-table__cell last_row">
                      <a href="change-contact">Change</a>
                  </td>
                  <td class="govuk-table__cell">
                      <a href="delete-contact">Delete</a>
                  </td>
              </tr>
              
          </tbody>
          

        </table>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <p><a href="#">Add new</a></p>
        
      </div>
    </div>

  </div>
{% endblock %}
