{% extends "layout.html" %}

{% block pageTitle %}
  Property fraud: keep your home safe from fraudsters
{% endblock %}

{% block beforeContent %}
  
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p class="govuk-custom-guidance-text">Guidance</p>
      <h1 class="govuk-heading-l">
        Online property fraud and how to prevent it
      </h1>      

      <div class="govuk-custom-guidance-definition-list">
          <dl class="govuk-body">
              <dt>
                  From:
              </dt>
              <dd>
                  <a href="#">HM Land Registry</a>
              </dd>
              <dt>
                  First published:
              </dt>
              <dd>
                  20 July 2018
              </dd>
              <dt>
                  Last updated:
              </dt>
              <dd>
                  23 July 2018
              </dd>
              <dt>
                  Part of:
              </dt>
              <dd>
                  <a href="#">Property records: update your contact details</a>
              </dd>
          </dl>
      </div>
    </div>
    
    <div class="govuk-grid-column-full">
            <br><br>
        
    </div>
    <div class="govuk-grid-column-one-quarter">
        <nav>
            <h1 class="govuk-heading-s govuk-!-font-weight-regular">
                Contents
            </h1>
            <ol class="gvouk-body govuk-custom-document-selections">
                <li><a href="#section1">Check your property record (&pound;3)</a></li>
                <li><a href="#section2">Update the contact details on your property record (free)</a></li>
                <li><a href="#section3">Sign up for property alerts (free)</a></li>
            </ol>
        </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <p>You can take steps to protect your house, flat or commercial property from fraud.</p>
        <p>This page explains how to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>check your property record (title deed)</li>
            <li>update your contact details</li>
            <li>sign up for fraud alerts</li>
        </ul>
        <h3 id="section1" class="govuk-heading-m">
            Check your property record (&pound;3)
        </h3>
        <p>HM Land Registry keeps a record of everyone who owns a property (title deeds). These records are kept online.</p>
        <p>Property fraudsters will often try to change the name on your property record. If they change the name, they can sell your property.</p>
        <p><a href="https://www.gov.uk/search-property-information-land-registry">Check your property record</a> (this costs £3) to make sure you are named as the registered owner.</p>
        <p>If your name is not on the record, contact HM Land Registry: support@landregistry.gov.uk</p>
        <h3 id="section2" class="govuk-heading-m">
            Update the contact details on your property record (free)
        </h3>
        <p>HM Land Registry will contact you by letter, email or text if something changes on your property record. A change to your property record is usually the first sign of fraud.</p>
        <p>If you do not keep your contact details up to date, HM Land Registry cannot contact you.</p>
        <p>You should <a href="1-start">update your contact details</a> if you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>have not checked your title deed (property record) since you bought your property</li>
            <li>do not live there</li>
            <li>rent out property as a landlord</li>
            <li>live overseas</li>
            <li>own more than one property</li>
        </ul>
        <p>Once you have updated your new contact details, HM Land Registry will contact you if something changes on your property record. If something changes, HM Land Registrt will:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>ask if you made this change</li>
            <li>block the change (if you tell us it wasn't you)</li>
            <li>freeze your record (to stop the fraudster trying again)</li>
            <li>investigate the fraud</li>
            <li>advise you to sign up for property alerts</li>
        </ul>
        <h3 id="section3" class="govuk-heading-m">
            Sign up for property alerts
        </h3>
        <p>Once you have checked your record and updated your contact details, you can also protect yourself against future fraud attempts.</p>
        <p>HM Land Registry has a service called property alerts. <a href="https://www.gov.uk/guidance/property-alert">Sign up to property alerts</a> and HM Land Registry will send you a text if something changes on your property record.</p>
        
    </div>

   
  </div>
{% endblock %}
