{% extends "layout.html" %}

{% block pageTitle %}
  Protect my property start page
{% endblock %}

{% block beforeContent %}
  
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
          Tell HM Land Registry about a change to your contact details
      </h1>

      <p>Use this service to change the address, phone and email on your property record (title deed). </p>
      
      
    
      <p>You need to do this if you own land or property but you:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>have not updated your contact details since you bought your property</li>
        <li>do not live there</li>
        <li>rent out property as a landlord</li>
        <li>live overseas</li>
        <li>own more than one property</li>
        <li>change your name</li>
        <li>get married, divorced or separate from your partner</li>
        <li>move house</li>
        <li>remortgage or sell your property</li>
        <li>have lasting power or attorney</li>
      </ul>

 <p>This helps protect your property from fraud, because HM Land Registry will be able to warn you if a fraudster tries to sell your property.</p>
      
      <a class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" href="2-title-number" role="button">Start now</a>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>You need the postcode for your property to find your title deed. </p>
      <p>If you don't know the postcode, use the title number (your conveyancer will have this).</p>
      
           <p>If you share ownership of your property with somebody else, for example a partner, the other owner will need to change their contact details separately.</p>
      
    <p>When you tell HM Land Registry about a change to your contact details, for example a new postal address, HM Land Registry will wait 15 days before updating your property record. </p>
      
      <p>It takes 15 days because HM Land Registry must make sure that you are the owner before they update your property record.</p>
      
      <p>Once you have submitted your new contact details, HM Land Registry will send you 2 letters to your old and new postal addresses. </p>
      <p>These letters are to confirm that your contact details:</p>
      
       <ul class="govuk-list govuk-list--bullet">
        <li>will change in 15 days</li>
        <li>have been changed and your property record updated</li>
       
      </ul>
      
      <p>Once your property record has been updated, HM Land Registry will stop using your 'old' address, email or phone number to contact you.</p>
 
      
       <p>You don't need to use the online service to update your contact details. You can also visit your nearest HM Land Registry office or send a form by post or email.</p>

           <h3 class="govuk-heading-s">
          Apply by visiting a HM Land Registry regional office
      </h3>
      <p>Start by <a href="#">finding your nearest HM Land Registry Office</a>.</p>
      <p>When you visit your nearest office, bring:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>1 passport photo</li>
        <li>
          a scan, photograph or photocopy of:
          <ul class="govuk-list govuk-list--bullet">
            <li>your passport or driving license</li>
            <li>2 bills for your property, for example a utility or council tax bill</li>
          </ul>
        </li>
      </ul>
      <p>A member of staff at HM Land Registry will complete the form with you and make copies of your identification.</p>

      <h3 class="govuk-heading-s">
          Apply by post or email
      </h3>

      <p>Print <a href="#">the COG 1 form</a> and fill it out.</p>
      <p>When you return this form, include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>1 passport photo</li>
        <li>
          a scan, photograph or photocopy of:
          <ul class="govuk-list govuk-list--bullet">
            <li>your passport or driving license</li>
            <li>2 bills for your property, for example a utility or council tax bill</li>
          </ul>
        </li>
      </ul>
      <p>Post or email the completed form, passport photo and copies of your identification to HM Land Registry: </p>
      <dl class="govuk-custom-contact-dl govuk-body">
        <dt class="govuk-!-font-weight-bold">
          Address
        </dt>
        <dd>
          <address>
            HM Land Registry<br>
            Citizen Centre<br>
            PO Box 74<br>
            Gloucester<br>
            GL14 9BB
          </address>
        </dd>
        <dt class="govuk-!-font-weight-bold">
          Email
        </dt>
        <dd>
          support@hmlandregistry.gov.uk
        </dd>
      </dl>
      <h4 class="govuk-heading-s">
        Help with this form
      </h4>
      <p>Need help filling out this form? Contact HM Land Registry:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Email: support@landregistry.gov.uk</li>
        <li>Phone: 0300 006 0411</li>
      </ul>
  </div>
{% endblock %}
