{% extends "layout.html" %}

{% block pageTitle %}
  Protect my property start page
{% endblock %}

{% block beforeContent %}
  
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
          Property records: update your contact details
      </h1>

      <p>Use this service to update the address, phone and email on your property record. This helps protect your property from fraud, because HM Land Registry will be able to warn you if a fraudster tries to sell your property.</p>
      <p>You need to do this if you own land or property but you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have not updated your property record since you bought your property</li>
        <li>do not live there</li>
        <li>rent out property as a landlord</li>
        <li>live overseas</li>
        <li>own more than one property</li>
      </ul>

      <a class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" href="2-title-number" role="button">Start now</a>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>You will need a postcode or title number for your property. If you do not know your title number, ask your conveyancer.</p>
      <p>If you share your property with somebody else, for example a partner, your partner will need to update their contact details separately.</p>
      <p>If you own more than 1 property, you can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>use 1 postal address, email or phone number for all your properties</li>
        <li>update you contact details for all your properties at the same time</li>
      </ul>
      <p>If you own more than 1 property, search by postcode or title number and then choose 'add another property' or 'add another title number'.</p>

      <h2 class="govuk-heading-m">
          Update your contact details without using the online service
      </h2>

      <p>You don't need to use the online service to update your contact details. You can also do this by:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>visiting a HM Land Registry regional office</li>
        <li>sending a form</li>
        <li>emailing a form</li>
      </ul>

      <h3 class="govuk-heading-s">
          Update your contact details by visiting a HM Land Registry regional office
      </h3>

      <p><a href="#">Find your nearest HM Land Registry Office</a></p>
      <p>When you visit your nearest office, bring:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>1 passport photo</li>
        <li>
          a scan, photograph or photocopy of:
          <ul class="govuk-list govuk-list--bullet">
            <li>your passport or driving license</li>
            <li>2 bills for your property, for example a utility or council tax bill</li>
          </ul>
        </li>
      </ul>
      <p>A member of staff at HM Land Registry will complete the form with you and make copies of your identification.</p>

      <h3 class="govuk-heading-s">
          Update your contact details by post or email
      </h3>

      <p>Print <a href="#">this form</a> and fill it out.</p>
      <p>When you return this form, include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>1 passport photo</li>
        <li>
          a scan, photograph or photocopy of:
          <ul class="govuk-list govuk-list--bullet">
            <li>your passport or driving license</li>
            <li>2 bills for your property, for example a utility or council tax bill</li>
          </ul>
        </li>
      </ul>
      <p>Post or email the completed form, passport photo and copies of your identification to HM Land Registry: </p>
      <dl class="govuk-custom-contact-dl govuk-body">
        <dt class="govuk-!-font-weight-bold">
          Address
        </dt>
        <dd>
          <address>
            HM Land Registry<br>
            Citizen Centre<br>
            PO Box 74<br>
            Gloucester<br>
            GL14 9BB
          </address>
        </dd>
        <dt class="govuk-!-font-weight-bold">
          Email
        </dt>
        <dd>
          support@hmlandregistry.gov.uk
        </dd>
      </dl>
      <h4 class="govuk-heading-s">
        Help with this form
      </h4>
      <p>Need help filling out this form? Contact HM Land Registry:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Email: support@landregistry.gov.uk</li>
        <li>Phone: 0300 006 0411</li>
      </ul>
  </div>
{% endblock %}
