{% extends "layout.html" %}

{% block pageTitle %}
  Do you have a title number?
{% endblock %}

{% block beforeContent %}
  
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <form id="govuk-custom-add-contact-form" class="form" action="3b-title-number-entry" method="get">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Do you know the title number?
                    </h1>
                    <span class="govuk-hint">
                       Your title number is usually something like 'CS82510'. 
                    </span>
                </legend>
                <div class="govuk-radios" data-module="radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="yesTitle" name="title" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="yesTitle">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="noTitle" name="title" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="noTitle">
                            No, I don't know the title number
                        </label>
                    </div>
                    
                </div>
            </fieldset>
        </div>

        <input id="add-button" class="govuk-button" type="submit" value="Continue">

      </form>
      
    </div>

  </div>

  <script>
    sessionStorage.clear();
  </script>
{% endblock %}

