{% extends "layout.html" %}

{% block pageTitle %}
  Verification fail
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Update your title deed",
        "href": "1-start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          We could not identify you as the property owner
      </h1>

      <p>Our records show a different name for the owner of this property. If you think this is an error, contact HM Land Registry.</p>
      
      <h3 class="govuk-heading-m">
        Apply by visiting a HM Land Registry regional office
    </h3>
    <p>Start by <a href="https://www.gov.uk/government/publications/hm-land-registry-office-addresses/office-addresses">finding your nearest HM Land Registry Office</a>.</p>
    <p>When you visit your nearest office, bring:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>1 passport photo</li>
      <li>
        a scan, photograph or photocopy of:
        <ul class="govuk-list govuk-list--bullet">
          <li>your passport or driving license</li>
          <li>2 bills for your property, for example a utility or council tax bill</li>
        </ul>
      </li>
    </ul>
    <p>A member of staff will help you complete this form and make copies of your identification.</p>

    <h3 class="govuk-heading-m">
        Apply by post or email
    </h3>

    <p>Print <a href="/public/assets/documents/cog1.docx" download>the COG 1 form</a> and fill it out.</p>
    <p>When you return this form, include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>1 passport photo</li>
      <li>
        a scan, photograph or photocopy of:
        <ul class="govuk-list govuk-list--bullet">
          <li>your passport or driving license</li>
          <li>2 bills for your property, for example a utility or council tax bill</li>
        </ul>
      </li>
    </ul>
    <p>Post or email the completed form, passport photo and copies of your identification to HM Land Registry: </p>
    <dl class="govuk-custom-contact-dl govuk-body">
      <dt class="govuk-!-font-weight-bold">
        Address
      </dt>
      <dd>
        <address>
          HM Land Registry<br>
          Citizen Centre<br>
          PO Box 74<br>
          Gloucester<br>
          GL14 9BB
        </address>
      </dd>
      <dt class="govuk-!-font-weight-bold">
        Email
      </dt>
      <dd>
        support@hmlandregistry.gov.uk
      </dd>
    </dl>
    <h4 class="govuk-heading-m">
      Help with this form
    </h4>
    <p>Need help filling out this form? Contact HM Land Registry:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Email: support@landregistry.gov.uk</li>
      <li>Phone: 0300 006 0411</li>
    </ul>
    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <p>We can add related content here, for example links to other citizen services.</p>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="visuallyhidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
