{% extends "layout.html" %}

{% block pageTitle %}
  Add new phone
{% endblock %}

{% block beforeContent %}
  
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          What is your mobile phone number? 
      </h1>
      <div class="govuk-custom-element-to-hide">
        <form class="form" action="9d-confirm-add-phone" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold govuk-!-font-size-24" for="phone">Mobile phone</label>
            <span id="telephone-number-hint" class="govuk-hint">
          For international numbers include the country code
            </span>
            
            <input class="govuk-input govuk-input--width-10" id="phone" name="phone" type="text">
          </div>
          <div class="govuk-form-group">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="private-phone" name="private-phone" type="checkbox" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="private-phone">Do not publish this on the Open Register (<a href="0a-open-register">What is this?</a>)</label>
                </div>
              </div>
  
            </div>
          <input class="govuk-button continueButton" type="submit" value="Submit">
          
        </form>
      </div>
      <p><a href="8-contact-info">Cancel</a></p>

  </div>

  <script>


    let itemToAddCheck = sessionStorage.getItem('item-to-update');
    if (itemToAddCheck === 'add first telephone to first property') {
      document.querySelector('.govuk-input').setAttribute('name', 'add-first-telephone-to-first-property');
    } else if (itemToAddCheck === 'add second telephone to first property') {
      document.querySelector('.govuk-input').setAttribute('name', 'add-second-telephone-to-first-property');
    } else if (itemToAddCheck === 'add first telephone to second property') {
      document.querySelector('.govuk-input').setAttribute('name', 'add-first-telephone-to-second-property')
    } else if (itemToAddCheck === 'add second telephone to second property') {
      document.querySelector('.govuk-input').setAttribute('name', 'add-second-telephone-to-second-property');
    }
    console.log(itemToAddCheck);

    document.querySelector('.continueButton').onclick = function() {
      if (itemToAddCheck === 'add first telephone to first property') {
        sessionStorage.setItem('firstTelephoneToFirstProperty', 'yes');
      } else if (itemToAddCheck === 'add second telephone to first property') {
        sessionStorage.setItem('secondTelephoneToFirstProperty', 'yes');
      } else if (itemToAddCheck === 'add first telephone to second property') {
        sessionStorage.setItem('firstTelephoneToSecondProperty', 'yes');
      } else if (itemToAddCheck === 'add second telephone to second property') {
        sessionStorage.setItem('secondTelephoneToSecondProperty', 'yes');
      }
    }
  </script>
  
{% endblock %}
