{% extends "layout.html" %}

{% block pageTitle %}
  Change telephone
{% endblock %}

{% block beforeContent %}
  
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
          What is your mobile phone number?
      </h1>
      <div class="govuk-custom-element-to-hide">
        <form class="form" action="9d-confirm-change-phone" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold govuk-!-font-size-24" for="phone">Mobile phone</label>
            <span id="telephone-number-hint" class="govuk-hint">
              Do not use a landline (we can only send texts to a mobile). For international numbers include the country code
            </span>
            
            <input class="govuk-input govuk-input--width-10" id="phone" name="phone" type="text">
          </div>
          
          <input class="govuk-button continueButton" type="submit" value="Submit">
          
        </form>
      </div>
      <p><a href="8-contact-info">Cancel</a></p>

  </div>

  <script>


    let itemToChangeCheck = sessionStorage.getItem('item-to-update');
    if (itemToChangeCheck === 'change first telephone of first property') {
      document.querySelector('.govuk-input').setAttribute('name', 'change-first-telephone-of-first-property');
    } else if (itemToChangeCheck === 'change second telephone of first property') {
      document.querySelector('.govuk-input').setAttribute('name', 'change-second-telephone-of-first-property');
    } else if (itemToChangeCheck === 'change first telephone of second property') {
      document.querySelector('.govuk-input').setAttribute('name', 'change-first-telephone-of-second-property');
    } else if (itemToChangeCheck === 'change second telephone of second property') {
      document.querySelector('.govuk-input').setAttribute('name', 'change-second-telephone-of-second-property');
    }
    console.log(itemToChangeCheck);

    
  </script>
  
{% endblock %}
