{% extends "layout.html" %}

{% block pageTitle %}
  Confirm changes
{% endblock %}

{% block beforeContent %}
  
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Confirm your new postal address 
    </h1>
    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
        Post alerts
        </dt>
        <dd class="app-check-your-answers__answer first-address-to-first-property hidden">
            {% if (data['change-first-address-to-first-property'] !== undefined) %}
                {{ data['change-first-address-to-first-property'] }}
            {% elif (data['first-address-to-first-property']!== undefined) %}
                {{ data['first-address-to-first-property'] }}
            {% endif %}
        </dd>
        <dd class="app-check-your-answers__answer second-address-to-first-property hidden">
            {% if (data['change-second-address-to-first-property'] !== undefined) %}
                {{ data['change-second-address-to-first-property'] }}
            {% elif (data['second-address-to-first-property']!== undefined) %}
                {{ data['second-address-to-first-property'] }}
            {% endif %}
        </dd>
        <dd class="app-check-your-answers__answer third-address-to-first-property hidden">
            {% if (data['change-third-address-to-first-property'] !== undefined) %}
                {{ data['change-third-address-to-first-property'] }}
            {% elif (data['third-address-to-first-property']!== undefined) %}
                {{ data['third-address-to-first-property'] }}
            {% endif %}
        </dd>
        <dd class="app-check-your-answers__answer first-address-to-second-address hidden">
            {% if (data['change-first-address-to-second-address'] !== undefined) %}
                {{ data['change-first-address-to-second-address'] }}
            {% elif (data['first-address-to-second-address']!== undefined) %}
                {{ data['first-address-to-second-address'] }}
            {% endif %}
        </dd>
        <dd class="app-check-your-answers__answer second-address-to-second-address hidden">
            {% if (data['change-second-address-to-second-address'] !== undefined) %}
                {{ data['change-second-address-to-second-address'] }}
            {% elif (data['second-address-to-second-address']!== undefined) %}
                {{ data['second-address-to-second-address'] }}
            {% endif %}
        </dd>
        <dd class="app-check-your-answers__answer third-address-to-second-address hidden">
            {% if (data['change-third-address-to-second-address'] !== undefined) %}
                {{ data['change-third-address-to-second-address'] }}
            {% elif (data['third-address-to-second-address']!== undefined) %}
                {{ data['third-address-to-second-address'] }}
            {% endif %}
        </dd>
        <dd class="app-check-your-answers__change">
            <a href="9a-add-new-address">
                Change<span class="govuk-visually-hidden"> email</span>
            </a>
        </dd>
      </div>
     </dl>
     
    <p><a href="8a-contact-info-updated" type="submit" class="govuk-button" id="email-change-button">Confirm</a></p>
    <p><a href="#">Cancel changes</a></p>
  </div>

</div>
<script>
    let itemToAddCheck = sessionStorage.getItem('item-to-update');
    console.log(itemToAddCheck);
    if (itemToAddCheck === 'change second address of first property') {
        document.querySelector('.second-address-to-first-property').classList.remove('hidden');
    } else if (itemToAddCheck === 'change first address of first property') {
        document.querySelector('.first-address-to-first-property').classList.remove('hidden');
    } else if (itemToAddCheck === 'change third address of first property') {
        document.querySelector('.third-address-to-first-property').classList.remove('hidden');
    } else if (itemToAddCheck === 'change first address of second property') {
        document.querySelector('.first-address-to-second-property').classList.remove('hidden');
    } else if (itemToAddCheck === 'change second address of second property') {
        document.querySelector('.second-address-to-second-property').classList.remove('hidden');
    } else if (itemToAddCheck === 'change third address of second property') {
        document.querySelector('.third-address-to-second-property').classList.remove('hidden');
    }
</script>

{% endblock %}

