{% extends "layout.html" %}

{% block pageTitle %}
  Check your contact details
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Contact details
      </h1>
      <p>Check and confirm your contact details with HM Land Registry.</p>

      <table class="govuk-table">
        <caption class="govuk-table__caption">
            {% if (data['address-selector'] !== undefined) %}
              {{ data['address-selector'] }}
            {% elif (data['titleNumber'] !== undefined) %}
              1 Clinton Street, Exeter EX4 1AX
            {% else %}
              {% if (data['address-line-1']) %}
                {{ data['address-line-1'] }},
              {% endif %}
              {% if (data['address-line-2']) %}
                {{ data['address-line-2'] }},
              {% endif %}
              {% if (data['address-town']) %}
                {{ data['address-town'] }},
              {% endif %}
              {% if (data['address-county']) %}
                {{ data['address-county'] }},
              {% endif %}
              {% if (data['address-postcode']) %}
                {{ data['address-postcode'] }},
              {% endif %}
            {% endif %}
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col" colspan="3">Contact details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row" style="vertical-align:top">
            <th class="govuk-table__header" scope="row">Postal address</th>
            <td class="govuk-table__cell">
                {% if (data['address-selector'] !== undefined) %}
                  {{ data['address-selector'] }}
                {% elif (data['titleNumber'] !== undefined) %}
                  1 Clinton Street, Exeter EX4 1AX
                {% else %}
                  {% if (data['address-line-1']) %}
                    {{ data['address-line-1'] }},
                  {% endif %}
                  {% if (data['address-line-2']) %}
                    {{ data['address-line-2'] }},
                  {% endif %}
                  {% if (data['address-town']) %}
                    {{ data['address-town'] }},
                  {% endif %}
                  {% if (data['address-county']) %}
                    {{ data['address-county'] }},
                  {% endif %}
                  {% if (data['address-postcode']) %}
                    {{ data['address-postcode'] }},
                  {% endif %}
                {% endif %}
                <br>
                <a class="plus-add" href="#">+ Add new</a>
            </td>
            <td class="govuk-table__cell"><a href="#">Change</a></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row" style="vertical-align:top">
            <th class="govuk-table__header" scope="row">Email</th>
            <td class="govuk-table__cell">
                <a href="#">+ Add new</a>
            </td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row" style="vertical-align:top">
            <th class="govuk-table__header" scope="row">Telephone</th>
            <td class="govuk-table__cell">
                <a href="#">+ Add new</a>
            </td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>

      </table>
<!-- <td class="govuk-table__cell"><a href="update-contact" class="govuk-button govuk-!-margin-bottom-1 govuk-custom-update-single-property-button">Update</a></td> -->
      <h2 class="govuk-heading-m">
        No changes required?
      </h2>
      <p><a href="address-lookup">Find another property</a> or <a href="https://gov.uk">exit the service</a> (your contact details will not change).</p>

    </div>

  </div>
{% endblock %}
