{% extends "layout_version_history.html" %}

{% block pageTitle %}
  Protect my property prototypes
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Protect my property
      </h1>
      <p>
        This is the homepage for <span class="govuk-body govuk-!-font-weight-bold">Protect my property</span> prototype.
      </p>
      <h2 class="govuk-heading-m">Version history</h2>
      <h3 class="govuk-heading-s"><a href="v0-2-1/start">Version 0.2.1</a><br><code>(18 July 2018)</code></h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><code>getAddress()</code> api added -- this is only enabled for user research because of daily call limit</li>
        <li>Email and phone display bug fixed</li>
        <li>Private tag bug fixed</li>
      </ul>
      <h3 class="govuk-heading-s"><a href="v0-2/start">Version 0.2</a><br><code>(16 July 2018)</code></h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Multiple property address search</li>
        <li>Single and multiple title address search</li>
        <li>Phone (SMS) option added</li>
        <li>Update, delete add routes added for single and multiple address searches &amp; single and multiple title searches</li>
        <li>Manual address entry added</li>
      </ul>
      <p class="govuk-!-font-weight-bold">TO DO</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Updated register to show changes</li>
        <li>International address entry</li>
        <li>Update all</li>
      </ul>
      <h3 class="govuk-heading-s"><a href="v0-1-1/start">Version 0.1.1</a><br><code>(11 July 2018)</code></h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Content updates</li>
        <li>Contact info page updates</li>
      </ul>
      <h3 class="govuk-heading-s"><a href="v0-1/start">Version 0.1</a><br><code>(26 June 2018)</code></h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Initial postcode lookup and confirm address content added</li>
        <li>Alpha phase banner added</li>
        <li>Verify mockups added</li>
        <li>'Happy path' for changing and/or adding contact details</li>
      </ul>
      <h3 class="govuk-heading-s"><a href="v0/start">Version 0</a><br><code>(22 June 2018)</code></h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Initial set-up of the prototype</li>
        <li>Includes placeholder pages for the main journey elements</li>
      </ul>
    </div>
</div>

{% endblock %}
