{% extends "layout_version_history.html" %}

{% block pageTitle %}
  Protect my property prototypes
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Protect my property
      </h1>
      <p>
        This is the homepage for <span class="govuk-body govuk-!-font-weight-bold">Protect my property</span> prototype.
      </p>
      <h2 class="govuk-heading-m">Version history</h2>
      <h3 class="govuk-heading-s"><a href="v0/start">Version 0</a><br><code>(22 June 2018)</code></h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Initial set-up of the prototype</li>
        <li>Includes placeholder pages for the main journey elements</li>
      </ul>
    </div>
</div>

{% endblock %}
