{% extends "layout.html" %}

{% block pageTitle %}
  Protect my property start page
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Update my title deed",
        "href": "1-start"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Update your title deed
      </h1>

      <p>HM Land Registry can warn you by letter, email or text if something changes on your title deed (the record that shows you own your property). A change to your title deed can be the first warning sign of fraud, so it's important to keep your contact details updated. </p>

      <p>Use this service to check and update the contact details on your title deed.</p>

      <h2 class="govuk-heading-m">
       Before you start
      </h2>

      <p>If there is a problem with your property, for example fraud, HM Land Registry will send a letter to the address on your title deed.</p>

      <p>If you don’t live at this address, you can ask us to send a:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>letter to a different property</li>
        <li>text</li>
        <li>email</li>
      </ul>
      
      
      <h2 class="govuk-heading-m">
     When you need to change your contact details
      </h2>

      <p>You must change the contact details on your title deed if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>move house</li>
        <li>change your email or phone number</li>
        <li>are a landlord (letters about your property should not go to your tenants)</li>
        <li>live in a different property</li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          If HM Land Registry does not know your contact details, we cannot contact you if something changes on your title deed.
        </strong>
      </div>

      <a class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" href="2-title-number" role="button">Start now</a>

      <h2 class="govuk-heading-m">
      HM Land Registry and online title deeds
      </h2>
      
       <p>Most property owners think that their conveyancer keeps their title deeds, but these are actually just copies. The  title deeds are now kept online by HM Land Registry. 

      <p>HM Land Registry keeps a record of everyone who owns a property (and their land). This record (your title deed) proves that you are the owner.</p>

      <p>If you own a house, flat or any other type of property, HM Land Registry has a record of your title deed. This includes your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>address (the one you own)
      </ul>

      <h2 class="govuk-heading-m">
        How this service works
      </h2>
      
      <p> This service lets you check and update the contact details on your title deed.</p>
      
      <p>HM Land Registry recommends that you add an email or phone number to your title deed. These are the quickest way to contact you if there is a problem with your property.</p>

<p>You will:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>search for your property (by postcode or title number)</li>
        <li>confirm your address (or addresses, if you own more than 1 property)</li>
        <li>check your contact details</li>
        <li>update these details</li>
      </ul>

      <div class="govuk-inset-text">
        Adding a postal address to your contact details will not change the address you own.
      </div>

    </div>

    <!-- <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <p>We can add related content here, for example links to other citizen services.</p>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="visuallyhidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div> -->
  </div>
{% endblock %}
