{% extends "layout.html" %}

{% block pageTitle %}
  Verification
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Version history",
        "href": "/"
      },
      {
        "text": "Protect my property",
        "href": "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-custom-verify-box">
        <div class="govuk-custom-verify-box-item govuk-custom-verify-icon">
            <img src="/public/images/govuk-verify-logo.png">
        </div>
        <div class="govuk-custom-verify-box-item govuk-custom-verify-blurb">
          <p>A certified company will verify your identity. They've all met security standards set by government.</p>
          <p>You don't need to be an existing customer with a company as they've built new, secure systems to verify identities.</p>

          <p>There is no charge for this service.</p>
          <a class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-verify-button" href="verification-process" role="button">Next</a>
          <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How companies can verify identities
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>These companies can use their own data, and they can access data like credit records. They're able to check that information from passports and driving licenses is correct.</p>
                <p>Certified companies meet government privacy standards, so you can trust them with your personal information. They won't share or sell your data for any other purposes without your consent.</p>
                <p>There won't be any effect on your credit score.</p>
                <p>More than one certified company means the system overall is stronger.</p>
              </div>
            </details>

        </div>

      </div>

    </div>

  </div>
{% endblock %}
